<!DOCTYPE html>
<html lang="en" ng-app="AccountApp">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

	<link rel="stylesheet" href="css/bootstrap.css" />
</head>

<body ng-controller="SummaryCtrl as vm" style="margin-top:20px;" onload="$('#txtSituacao').focus();">
	<div class="container" style="margin-bottom:20px;">
		<fieldset class="fieldset">
			<label id="lblSituacao" for="txtSituacao">Filtrar por situa&ccedil;&atilde;o:&nbsp;</label>
			<input type="text" ng-model="searchSituation" id="txtSituacao" />
		</fieldset>
	</div>
	
	<div class="container">
		<label>Lan&ccedil;amentos:</label>
		<table class="table">
			<thead class="table-primary" style="font-weight: bold;">
				<tr>
					<th scope="col">Data do lan&ccedil;amento</th>
					<th scope="col">Descri&ccedil;&atilde;o</th>
					<th scope="col">N&uacute;mero</th>
					<th scope="col">Situa&ccedil;&atilde;o</th>
					<th scope="col">Data de confirma&ccedil;&atilde;o</th>
					<th scope="col">Dados banc&aacute;rios</th>
					<th scope="col">Valor Final</th>
				</tr>
			</thead>
			<tbody ng-repeat="item in vm.records | filter:searchSituation">
				<tr>
					<td>{{item.dataLancamento | date: 'dd/MM/yyyy'}}</td>
					<td>{{item.descricaoLancamento}}</td>
					<td>{{item.numeroLancamento}}</td>
					<td>{{item.descricaoSituacao}}</td>
					<td>{{item.dataConfirmacao | date: 'dd/MM/yyyy'}}</td>
					<td>{{item.nomeBanco}} Ag {{item.numeroAgencia}} CC {{item.numeroConta}}</td>
					<td align="right">{{item.valorFinal | currency: 'R$ ': 2}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="table-secondary" style="font-weight: bold;">
					<td colspan="6" align="right">Valor Total: </td>
					<td align="right">{{ vm.records | filter:searchSituation |total:'valorFinal'  | currency: 'R$ ': 2}}</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<script src="scripts/bootstrap.js" charset="utf-8"></script>
	<script src="scripts/angular.js" charset="utf-8"></script>
	<script src="scripts/jquery.js" charset="utf-8"></script>
	<script src="app.js" charset="utf-8"></script>
</body>
</html>